</div>
<footer>
{% if footer_top %}
<div class="footer-top">
{{ footer_top }}
</div>
{% endif %}
<div class="footer-container">
<div class="container">
	<div class="row">
	{% if footer_left %}
	{# <div class="footer-column footer-left-cms col-sm-3">
	{{ footer_left }}
	</div> #}
	{% endif %}
      <!--<div class="col-sm-3 footer-column {{ 'footer-' ~ text_service|replace({' ': '-'})|lower }}">
        <h5>{{ text_service }}</h5>
        <ul class="list-unstyled">
          <li><a href="{{ contact }}">{{ text_contact }}</a></li>
          <li><a href="{{ return }}">{{ text_return }}</a></li>
          <li><a href="{{ sitemap }}">{{ text_sitemap }}</a></li>
        </ul>
      </div>-->
      <div class="col-sm-4 footer-column {{ 'footer-' ~ text_extra|replace({' ': '-'})|lower }}">
        <h5>{{ text_extra }}</h5>
        <ul class="list-unstyled">
          <li><a href="{{ manufacturer }}">{{ text_manufacturer }}</a></li>
          {# <li><a href="{{ voucher }}">{{ text_voucher }}</a></li> #}
          {# <li><a href="{{ affiliate }}">{{ text_affiliate }}</a></li> #}
          <li><a href="{{ special }}">{{ text_special }}</a></li>
          <li><a href="index.php?route=information/information&information_id=9">ТО и установка кондиционеров</a></li>
					<li><a href="index.php?route=information/information&information_id=11">Установка антенн и доп. услуги</a></li>
					<li><a href="index.php?route=information/information&information_id=10">Установка видеонаблюдения</a></li>
          {# <li><a href="{{ sitemap }}">{{ text_sitemap }}</a></li> #}
        </ul>
      </div>
      <div class="col-sm-4 footer-column {{ 'footer-' ~ text_account|replace({' ': '-'})|lower }}">
        {# <h5>{{ text_account }}</h5> #}
        <h5>Рекомендуем</h5>
        <ul class="list-unstyled">
          {# <li><a href="{{ account }}">{{ text_account }}</a></li>
          <li><a href="{{ order }}">{{ text_order }}</a></li>
          <li><a href="{{ wishlist }}">{{ text_wishlist }}</a></li>
          <li><a href="{{ newsletter }}">{{ text_newsletter }}</a></li>
		  <li><a href="{{ return }}">{{ text_return }}</a></li> #}
          <li><a href="index.php?route=product/category&path=2">Настенные сплит-системы</a></li>
          <li><a href="index.php?route=product/category&path=18">ТВ без абонентской платы</a></li>
          <li><a href="index.php?route=product/category&path=19">Оборудование для спутникового тв</a></li>
          <li><a href="index.php?route=product/category&path=26">Эфирное ТВ</a></li>
          <li><a href="index.php?route=product/category&path=35">SMART TV IPTV</a></li>
        </ul>
      </div>
	  {% if informations %}
      <div class="col-sm-4 footer-column {{ 'footer-' ~ text_information|replace({' ': '-'})|lower }}">
        <h5>{{ text_information }}</h5>
        <ul class="list-unstyled">
         {% for information in informations %}
          <li><a href="{{ information.href }}">{{ information.title }}</a></li>
          {% endfor %}
          <li><a href="/contact">Контакты</a></li>
        </ul>
      </div>
      {% endif %}

	{% if footer_right %}
	  <div class="footer-column footer-right-cms col-sm-3">
	 {{ footer_right }}
	  </div>
	{% endif %}
		</div>
	</div>
</div>
<div class="footer-bottom">
	<div class="container">
	<div class="footer-bottom-link col-sm-6">
	    <address class="footer-address">
	        {{ footer_address }}
	    </address>
		<p>{{ copyright }}</p>
		
	</div>
	<div class="footer-bottom-link col-sm-6">
	    <p class="footer-powered">{{ text_powered }}</p>
	</div>
	{# {% if footer_bottom %}
	<div class="footer-bottom-cms col-sm-6">
	
 	{{ footer_bottom }}
	</div>
	{% endif %} #}
	</div>
</div>
</footer>


<div class="form-overlay overlay" style="display:none;">
    <div class="callback-form">
        <div class="form-close"><i class="fa fa-times"></i></div>
        {{ formcreator_id49 }}
    </div>
</div>


<div class="one-click-form-overlay overlay" style="display:none;">
    <div class="one-click-form">
        <div class="form-close"><i class="fa fa-times"></i></div>
        {{ formcreator_id50 }}
    </div>
</div>

<div class="want-cheaper-form-overlay overlay" style="display:none;">
    <div class="want-cheaper-form">
        <div class="form-close"><i class="fa fa-times"></i></div>
        {{ formcreator_id53 }}
    </div>
</div>

<script>
  var createCaptchas = function(){
    let captchaBlocks = document.querySelectorAll('.g-recaptcha');
  if(captchaBlocks){
      captchaBlocks.forEach(function(block, index){
        block.dataset.indexNum = index;
      })
    }
  }
</script>

{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}

<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(64893088, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/64893088" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-169613853-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-169613853-1');
</script>

<script>
  $('.one-click-form form').on('submit',function(){ym(64893088,'reachGoal','1clik')});
  $('.callback-form form').on('submit',function(){ym(64893088,'reachGoal','call_ back')});
  $('#button-cart, .btn-cart').on('click',function(){ym(64893088,'reachGoal','added_to_cart')});
  $('#button-payment-method').on('click',function(){ym(64893088,'reachGoal','ordered_goods')});
</script>
<script>
  $('.one-click-form form').on('submit',function(){gtag('event', 'submit', {'event_category':  '1clik', 'event_action': 'clik'});});
  $('.callback-form form').on('submit',function(){gtag('event', 'submit', {'event_category':  'call_back', 'event_action': 'clik'});});
  $('#button-cart, .btn-cart').on('click',function(){gtag('event', 'click', {'event_category':  'added_to_cart', 'event_action': 'clik'});});
  $('#button-payment-method').on('click',function(){gtag('event', 'click', {'event_category':  'ordered_goods', 'event_action': 'clik'});});
</script>


<!--
OpenCart is open source software and you are free to remove the powered by OpenCart if you want, but its generally accepted practise to make a small donation.
Please donate via PayPal to donate@opencart.com
//-->
</body></html>